@import "../../globalvars.scss";

.index-posts {
  // background-color: #a463e433;
  margin: 10px;
  border-radius: 10px;

  @include flex-l-u();

  @include for-phone-only {
    grid-column: 1/7;
    grid-row: 10/20;
  }
  @include for-tablet-portrait-up {
    grid-column: 1/13;
    grid-row: 5/15;
  }
  @include for-tablet-landscape-up {
    grid-column: 1/13;
    grid-row: 3/15;
  }
  @include for-desktop-up {
    grid-column: 1/19;
    grid-row: 3/15;
  }
  @include for-big-desktop-up {
    grid-column: 1/22;
    grid-row: 2/15;
  }
}
