@import "../globalvars.scss";

.title {
  text-transform: capitalize;
  margin: 0;
  word-break: break-word;
}

.subtitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  margin-top: 1rem;

  border-top: solid darkslategray;
  border-bottom: solid darkslategray;

  h5 {
    margin: 0.5rem 0;
  }
}

.blog-post-content {
  font-family: "Ubuntu", sans-serif;

  img {
    border: 2px solid darkslategray;
    width: 100%;
  }

  blockquote {
    border-left: 5px solid darkslategray;
    padding: 1px 1px 1px 5px;
    p {
      margin: 0;
    }
  }

  hr {
    border: 1px dashed lightgray;
  }

  table {
    border-collapse: collapse;
    border: 2px solid darkslategray;
    width: 100%;
    th {
      border: 1px solid darkslategray;
      background-color: darkslategray;
      color: white;
      font-weight: bold;
    }
    td {
      border: 1px solid darkslategray;
    }
  }
  strong {
    font-weight: inherit;
    // color: white;
    // background-color: $color1;
    padding-left: 2.5px;
    padding-right: 2.5px;
    color: darkslategray;
    background-color: turquoise;
    font-weight: bold;
  }
}

.go-back-wrapper {
  // margin: 0 0 3rem 0;
  // height: 100%;
  text-transform: capitalize;
}
