<a class="bannerLink" href={{posts[0].link}}>
    <div class="banner">
        <div class="bannerArt">
            <div class="artWrapper"></div>
        </div>
        <div class="post">
            <div class="postTitle">{{posts[0].title}}</div>
            <div class="description">{{posts[0].description}}</div>
            <div class="subInfo">
                <div class="info">{{posts[0].date}}</div>
                <div class="divider"></div>
                <div class="info">12 minute read</div>
            </div>
        </div>
    </div>
</a>