body{
    font-family: 'Ubuntu', sans-serif;
    background-color: $light;
    // padding: 1em;
    color: $darker;
    margin: 0px;
    padding: 0px;
}

html,
body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

::-moz-selection,
::selection { /* Code for Firefox */
    color: $light;
    background: $darker;
}
// * {
//     transition: color 0.3s ease-in;
//     transition: background-color 0.3s ease-in;
// }