@import '../mixins/fonts.scss';
@import '../mixins/header.scss';
@import '../mixins/banner.scss';
@import '../mixins/postLink.scss';


body{
    font-family: 'Ubuntu', sans-serif;
    background-color: whitesmoke;
    // padding: 1em;
    color: red($color: #000000);
    margin: 0px;
    padding: 0px;

}