<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="s.css">
  </head>
  <body>
    {% include "header.njk" %}
    {% include "homebanner.njk" %}
    {% include "postLinks.njk" %}
  </body>
</html>