
.number404 {
    font-size: 300px;
    text-align: center;
    margin: 40px;
    color: #028F76;
    background: -webkit-linear-gradient(top, #028F76, #1C2130);
    background: linear-gradient(top, #1C2130, #028F76);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}