@import '../globalvars.scss';


    .category{
        text-transform: capitalize;
    }

    .itens {
        display: grid;
        grid-template-columns: repeat( 3, 33.34% ) ;
        @media screen and (max-width: 600px) {
            grid-template-columns: repeat( 1, 100% ) ;
        }
        grid-gap: 5px;

        .carditem{
            width: 100%;
            height: 4rem;
            padding: 1rem;
            border: solid $color1;
            color: $color1;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;
            &:hover {
                background-color: $color1;
                color: whitesmoke;
            }
        }
    }



a{
    text-decoration: none;
}

.post-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1rem;
    border-left: 5px solid grey;
    text-decoration: none;
    

    -webkit-box-shadow: 10px 10px 20px -15px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 20px -15px rgba(0,0,0,1);
    box-shadow: 10px 10px 20px -15px rgba(0,0,0,1);

    &:hover{
        border-left: 5px solid $color1;
        .post-card-title{
            color: $color1;
        }
        .post-card-date{
            color: $color1;
        }
    }

    .post-card-title{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        text-transform: capitalize;
    }
    .post-card-date{
        width: 100%;
        text-align: right;
        text-decoration: none;
    }
}

.alert{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 2.5px 10px;


    .alert-text{
        margin-left: 10px;
    }
}

