@import "../../globalvars.scss";

.index-art {
  // background-color: #59beef33;
  background-image: linear-gradient(#4c4c4c, #2c2c2c);
  color: whitesmoke;

  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;

  user-select: none;
  cursor: pointer;

  &:active{
    // border-radius: 50%;
    transform: scale(0.8);
    // transform: rotate(360deg) scale(0.8);
    // background-image: linear-gradient(#ffc300 , #c70039);
    box-shadow:  0px 0px 100px rgba(0,0,0,0.38);
    font-size: 2rem;
  }

  @include flex-c-c();

  font-weight: bold;
  text-transform: uppercase;
  margin: 10px;
  border-radius: 10px;

  @include for-phone-only {
    grid-column: 1/7;
    grid-row: 2/8;
  }
  @include for-tablet-portrait-up {
    grid-column: 9/13;
    grid-row: 1/5;
  }
  @include for-tablet-landscape-up {
    grid-column: 13/19;
    grid-row: 1/7;
  }
  @include for-desktop-up {
    grid-column: 19/25;
    grid-row: 1/7;
  }
  @include for-big-desktop-up {
    grid-column: 22/31;
    grid-row: 1/9;
  }
}
