
// .headerWrapper{
//     display: flex;
//     justify-content: center;



    .header{
        display: flex;
        height: 50px;
        background-color: transparent;
        justify-content: space-between;
        width: 100%;
        max-width: 1000px;
        margin-bottom: 2rem;

       
        .titleWrapper{
            display: flex;
            align-items: center;
            font-size: 2rem;
            // padding: 0 0 0 1rem;
            a{
                text-decoration: none;
                color: #26273C;

                mark{
                    background-color: #26273C;
                    color: #47785C;
                }
                &:hover{
                    // border-top-color: #ACDF7D;
                    color: #ACDF7D;
                    cursor: pointer;

                    mark{
                        background-color: #ACDF7D;
                        color: #47785C;
                    }
                }
            }
        }
        .NavWrapper{
            display: flex;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: 0 2px;
                padding: 0 10px;
                text-decoration: none;
                color: #26273C;
                // border-top: 2px solid transparent;
                mark{
                    background-color: #26273C;
                    color: #47785C;
                }
                &:hover{
                    // border-top-color: #D14334;
                    color: #ACDF7D;
                    cursor: pointer;
                    font-weight: bold;

                    mark{
                        background-color: #ACDF7D;
                        color: #47785C;
                    }
                }
            }
        }
    }
// }
