
// .headerWrapper{
//     display: flex;
//     justify-content: center;



    .header{
        display: inline-flex;
        // height: 50px;
        background-color: transparent;
        justify-content: space-between;
        width: 100%;
        max-width: 1000px;
        margin-bottom: 2rem;
       
        .title-wrapper{
            display: flex;
            align-items: flex-start;
            font-size: 2rem;
            // padding: 0 0 0 1rem;
            a{
                text-decoration: none;
                color: lightgray;
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                 -khtml-user-select: none; /* Konqueror HTML */
                   -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                        user-select: none; /* Non-prefixed version, currently
                                              supported by Chrome and Opera */

                mark{
                    background-color: lightgray;
                    color: rgb(70, 70, 70);
                }
                &:hover{
                    // border-top-color: white;
                    color: white;
                    cursor: pointer;

                    mark{
                        background-color: white;
                        color: rgb(70, 70, 70);
                    }
                }
            }
        }


        @media screen and (max-width: 600px) {
            .nav-wrapper-desktop{
                display: none !important;
            }
            .nav-wrapper-mobile{
                display: flex !important;
                flex-direction: column;

                .nav-wrapper-mobile-menu{
                    color: lightgray;
                    cursor: pointer;
                    display: flex;
                    justify-content: flex-end;
                    margin: 0;
                    // margin-bottom: 1rem;
                    height: 37px;
                    align-items: center;
                    // margin-top: 20px;
                    -webkit-touch-callout: none; /* iOS Safari */
                    -webkit-user-select: none; /* Safari */
                     -khtml-user-select: none; /* Konqueror HTML */
                       -moz-user-select: none; /* Firefox */
                        -ms-user-select: none; /* Internet Explorer/Edge */
                            user-select: none; /* Non-prefixed version, currently
                                                  supported by Chrome and Opera */
                    &:hover{
                        // border-top-color: #D14334;
                        color: white;
                        cursor: pointer;
                        font-weight: bold;

                        mark{
                            background-color: white;
                            color: rgb(70, 70, 70);
                        }
                    }
                }

                .nav-wrapper-mobile-itens-open{
                    display: flex;
                    flex-direction: column;

                    a{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        width: 100%;
                        // margin: 0 2px;
                        // padding: 0 10px;
                        text-decoration: none;
                        color: lightgray;
                        // border-top: 2px solid transparent;
                        -webkit-touch-callout: none; /* iOS Safari */
                        -webkit-user-select: none; /* Safari */
                         -khtml-user-select: none; /* Konqueror HTML */
                           -moz-user-select: none; /* Firefox */
                            -ms-user-select: none; /* Internet Explorer/Edge */
                                user-select: none; /* Non-prefixed version, currently
                                                      supported by Chrome and Opera */
                        mark{
                            background-color: lightgray;
                            color: rgb(70, 70, 70);
                        }
                        &:hover{
                            // border-top-color: #D14334;
                            color: white;
                            cursor: pointer;
                            font-weight: bold;
    
                            mark{
                                background-color: white;
                                color: rgb(70, 70, 70);
                            }
                        }
                    }
                }
                .nav-wrapper-mobile-itens-close{
                    display: none;
                }
            }
        }
        @media screen and (min-width: 600px) {
            .nav-wrapper-desktop{
                display: flex;
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin: 0 2px;
                    padding: 0 10px;
                    text-decoration: none;
                    color: lightgray;
                    // border-top: 2px solid transparent;
                    -webkit-touch-callout: none; /* iOS Safari */
                    -webkit-user-select: none; /* Safari */
                     -khtml-user-select: none; /* Konqueror HTML */
                       -moz-user-select: none; /* Firefox */
                        -ms-user-select: none; /* Internet Explorer/Edge */
                            user-select: none; /* Non-prefixed version, currently
                                                  supported by Chrome and Opera */
                    mark{
                        background-color: lightgray;
                        color: rgb(70, 70, 70);
                    }
                    &:hover{
                        // border-top-color: #D14334;
                        color: white;
                        cursor: pointer;
                        font-weight: bold;

                        mark{
                            background-color: white;
                            color: rgb(70, 70, 70);
                        }
                    }
                }
            }

            .nav-wrapper-mobile{
                display: none !important;
            }
        }
    }
// }
