@import "../styles/colors.scss";
@import "../styles/media.scss";

.headerWrapper {
	all: unset;
	display: flex;
	justify-content: center;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 30px;

		width: 100%;
		max-width: 1000px;

		@include small {
			width: $smallWidth;
		}
		// border: 1px dashed black;

		.headerHome {
			a {
				all: unset;
				font-size: 16px;
				color: $darker;
				font-weight: bold;
				box-sizing: border-box;
				cursor: pointer;
				user-select: none;
				font-size: 16px;
				line-height: 16px;
				color: $darker;
				font-weight: bold;
				text-decoration: none;
				transition: text-decoration 1s ease-in-out;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.headerLinks {
			a {
				all: unset;
				min-width: 45px;
				box-sizing: border-box;
				cursor: pointer;
				margin: 10px;
				user-select: none;
				font-size: 16px;
				line-height: 16px;
				padding: 10px;
				color: $darker;
				border: 3px solid transparent;
				border-radius: 8px;
				font-weight: bold;
				text-decoration: none;

				transition: all 0.2s;

				&:last-child {
					margin-right: 0px;
				}
				&:hover {
					color: $lighter;
					background-color: $darker;
					svg {
						fill: $lighter;
					}
				}
				svg {
					height: 16px;
					width: 16px;
					fill: $darker;
				}
			}
		}
	}
}
