<div class="header">
    <div class="headerHome">Kevin Oliveira</div>
    <div class="headerLinks">
        {% for item in plinks %}
            <a href="{{item.link}}">{{item.label}}</a>
        {% endfor %}
    </div>
</div>