<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="s.css">
  </head>
  <body>
    {% include "header.njk" %}
    {% include "homebanner.njk" %}

    <h1>This i asd asds {{name}}</h1>
    <p>This is a {{age}}.</p>
    <h1>This i asd asds {{name}}</h1>
    <p>This is a {{age}}.</p>
    <h1>This i asd asds {{name}}</h1>
    <p>This is a {{age}}.</p>
    <h1>This i asd asds {{name}}</h1>
    <p>This is a {{age}}.</p>
    <h1>This i asd asds {{name}}</h1>
    <p>This is a {{age}}.</p>
    <h1>This i asd asds {{name}}</h1>
    <p>This is a {{age}}.</p>
    <h1>This i asd asds {{name}}</h1>
    <p>This is a {{age}}.</p>
    <h1>This i asd asds {{name}}</h1>
    <p>This is a {{age}}.</p>
    <h1>This i asd asds {{name}}</h1>
    <p>This is a {{age}}.</p>
    <h1>This i asd asds {{name}}</h1>
    <p>This is a {{age}}.</p>
    <h1>This i asd asds {{name}}</h1>
    <p>This is a {{age}}.</p>
    <h1>This i asd asds {{name}}</h1>
    <p>This is a {{age}}.</p>
  </body>
</html>