

    .footer{
        display: flex;
        height: 140px;
        background-color: #1C2130;
        justify-content: center;
        align-items: center;
        width: 992px;
        margin-top: 1rem;
        color: white;
        border-radius: 5px 5px 0px 0px;
      
    }

