<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="404.css">
  </head>
  <body>
    {% include "common/header/header.njk" %}
    <div class="message">{{message}}<div>
  </body>
    {% include "common/theme/theme.njk" %}
</html>