@import '../../common/styles/fonts.scss';
@import '../../common/styles/colors.scss';
@import '../../common/header/header.scss';
@import '../../common/home-banner/home-banner.scss';
@import '../../common/post-links/post-link.scss';
@import '../../common/styles/global.scss';

.message{
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
}