
:root {
	--black: black;
	--lightgrey: lightgrey;
	--lightgray: lightgray;
	--darkslategrey: darkslategrey;
	--gray: gray;
	--whitesmoke: whitesmoke;
	--white: white;
}

$black: var(--black);
$lightgrey: var(--lightgrey);
$lightgray: var(--lightgray);
$darkslategrey: var(--darkslategrey);
$gray: var(--gray);
$whitesmoke: var(--whitesmoke);
$white: var(--white);